@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: times, serif;
  font-size: 100%;
  line-height: 1.5;
  background-color: #7cbaa0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  margin: 0 auto;
  max-width: 45em;
  padding: 0 1em;
  opacity: 0;
  transition: all 200ms ease-in;
}

.js-banner-animate {
  opacity: 1;
}

.whitenurses {
  background-color: #77b39a;
  margin: 0 auto;
  max-width: 45em;
  padding: 0 1em;
  opacity: 0;
  transition: all 200ms ease-in;
}

.js-whitenurses-animate {
  opacity: 1;
}

.bluenurses {
  background-color: #77b39a;
  margin: 0 auto;
  max-width: 45em;
  padding: 0 1em;
  opacity: 0;
  transition: all 200ms ease-in;
}

.js-bluenurses-animate {
  opacity: 1;
}

.icons {
  background-color: #73ae95;
  margin: 0 auto;
  max-width: 45em;
  padding: 0 1em;
  opacity: 0;
  transition: all 200ms ease-in;
}

.js-icons-animate {
  opacity: 1;
}

.bottom {
  background-color: #6fa890;
  margin: 0 auto;
  max-width: 45em;
  padding: 0 1em;
  opacity: 0;
  transition: all 200ms ease-in;
}

.js-bottom-animate {
  opacity: 1;
}

.number1{
  animation: number-jiggle 1s infinite ease-in-out;
}

.number2{
  animation: number-jiggle 1s infinite ease-in-out;
}

.ambulance {
  transition: all .2s linear;
}

.btn-slide {
  right:50px;
}

section {
  overflow: hidden;
  padding: 4em 1em;
  position: relative;
}
@keyframes number-jiggle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
